*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  min-height: 100vh;
  font-family: var(--font);
  background: var(--bg-color);
  color: var(--color-dark);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  font-family: var(--font);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}
.light-button {
  background: var(--primary);
  color: var(--color-light);
}
.dark-button {
  background: var(--secondary);
  color: var(--color-light);
}