@import './base.css';
:root {
  --bg-color: #fef3c6;
  --primary: #ec6349;
  --primary-light: #f8db7e;
  --primary-dark: #ce2340 ;
  --secondary: #310a26;
  --secondary-foreground: #6f1b2c;
  --color-dark: #6f1b2c;
  --color-light: #fef3c6;
  --border: #561824;
  --radius: 0.5rem;
  --font: "Reddit Sans", sans-serif;
}