.app-container {
  max-width: 100%;
  width: 100%;
}
/* header styles */
.header {
  color: var(--secondary-foreground);
  padding: 1rem;
  text-align: center;
}
.header-title {
  background: linear-gradient(90deg,var(--primary) 0%, var(--primary-dark) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
}
/* main and container content styles */
.main-content {
  margin: 0 auto;
  max-width: 360px;
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 1rem;
  color: white;
}
.main-content { padding: 1.5rem !important; }
/* form styles */
.form-container {
  margin-bottom: 1rem;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--secondary-foreground);
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--color-light);
  font-family: var(--font);
  font-size: 1rem;
}
input:focus,
input:hover,
select:focus,
select:hover {
  outline: none;
  box-shadow: none;
  border-color: var(--border);
}
.submit-button {
  background: linear-gradient(90deg,var(--primary) 0%, var(--primary-dark) 60%);
  color: var(--color-light);
  font-family: var(--font);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: var(--primary-dark);
}
.submit-button:disabled {
  background: var(--primary-dark) !important;
  cursor: auto;
}
/* custom select */
.custom-select {
  position: relative;
  max-width: 100%;
}
.selected {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--secondary-foreground);
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--color-light);
  font-family: var(--font);
  font-size: 1rem;
  transition: background 0.3s;
}
.selected:hover {
  background: var(--primary);
}
.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  z-index: 10;
  background: var(--secondary-foreground);
  color: var(--color-light);
  padding: 0.75rem;
  outline: none !important;
  gap: 20px;
  border: hidden;
  border-radius: 5px;
}
.options div {
  padding: 0.75rem;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
}
.options div:hover {
  background: var(--primary);
  color: var(--color-light);
  border-radius: 5px;
}
.options div.active {
  background: var(--primary);
  color: var(--color-light);
}
/* result container */
.result-container {
  background-color: var(--secondary-foreground);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.result-title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.result-content {
  border-radius: 4px;
}
.result-content h2,
.result-content p {
  margin-bottom: 10px;
}
.footer {
  margin: 1rem 0;
  padding: 2rem 2.5rem;
  text-align: center;
}
/* custom loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
.custom-loader {
  width:21px;
  height:21px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#ffffff);
  --webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}